:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #171819;
  --third-bg-color: #141a20;
  --primary-text-color: #48555b;
  --secondary-text-color: #ffffff;
  --accent-color: #00a4e5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.0125em;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* Common classes*/
.container {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.no-list-style {
  list-style: none;
}

/* header pastiche */

/* Header container  pastiche*/
.header {
  display: flex;
  flex-direction: column;
}

.header__ident {
  padding-bottom: 58px;
}

.header__bg {
  background-image: url("../images/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #d7d7d7;
}

/* background-image: url("../images/bg-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
/* } */

.header__logo {
  display: block;
  width: 102px;
  height: 23px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 317px;
  margin-top: 41px;
}

.header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;

  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.36em;
}

.header__title--color {
  color: var(--secondary-text-color);
}

.header__text {
  margin: 0;
  padding: 0;
  margin-bottom: 221px;

  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.header__text--color {
  color: var(--secondary-text-color);
}

.header__designator {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 71px;

  font-size: 11px;
  line-height: 1.18;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

.header__designator--color {
  color: var(--secondary-text-color);
}

/* Header navigation section pastiche */
.nav {
  align-items: center;

  border-bottom: 1px solid #e6e6e6;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.nav__icon {
  width: 80px;
  height: 18px;

  /* margin: 25px 0 23px 0; */
}

.nav__tabs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;

  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.23em;
}

.nav__element {
  margin-right: 40px;
  padding: 25px 0 24px 0;
}

.nav__element:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

/* Main pastiche */
/* About section pastiche */

.about {
  display: block;
}

.about__idents {
  padding-top: 58px;
  padding-bottom: 118px;
}

.about__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.14em;
}

.about__thumb {
  display: flex;
  flex-basis: calc(100% / 2);
  padding-top: 57px;
}

.about__box {
  margin-right: 77px;
}

.about__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;

  letter-spacing: 0.012em;
}

.about__subtitle--accent {
  color: var(--accent-color);
}

.about__text {
  margin: 0;
  padding: 0;
}

.about__offers {
  display: flex;
  flex-basis: calc(50% / 3 - 40px);

  margin: 0;
  padding: 0;
  margin-top: -20px;
  margin-right: 0px;

  justify-content: flex-end;

  list-style: none;
}

/* .about__offers:not(:last-child) {
  margin-top: 20px;
  margin-right: 20px;
} */

.about__plan {
  width: 140px;
  height: 224px;

  margin-top: 20px;
  margin-right: 20px;

  background-image: url(../images/we-plan.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.about__manage {
  width: 140px;
  height: 224px;

  margin-top: 20px;
  margin-right: 20px;

  background-image: url(../images/we-manage.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.about__build {
  width: 140px;
  height: 224px;

  margin-top: 20px;
  margin-right: 20px;

  background-image: url(../images/we-build.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.about__build:last-child {
  margin-right: 0;
}

.about__plan--colorize {
  padding-top: 15px;
  padding-left: 14px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  letter-spacing: 0.0117em;

  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.about__manage--colorize {
  padding-top: 15px;
  padding-left: 14px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  letter-spacing: 0.0117em;

  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.about__manage--colorize {
  padding-top: 15px;
  padding-left: 14px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  letter-spacing: 0.0117em;

  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* Capabilities section pastiche */

.capabilities {
  display: block;
}

.capabilities__idents {
  margin-bottom: 115px;
}

.thumb1 {
  display: flex;

  margin-bottom: 78px;
}

.capabilities__title {
  width: 200px;

  margin: 0;
  padding: 0;
  margin-right: 155px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.14em;

  text-transform: uppercase;
  text-align: start;
}

.thumb1__text {
  margin: 0;
  padding: 0;
  margin-right: 32px;

  font-size: 11px;
  line-height: 1.73;

  letter-spacing: 0.03em;
}

.capabilities__btn {
  min-width: 150px;
  min-height: 40px;

  padding: 11px 29px;
  margin-left: auto;

  border: none;

  font-family: inherit;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.03px;

  text-transform: uppercase;
  text-align: center;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.capabilities__btn:hover {
  cursor: pointer;
}

.service {
  display: flex;
  flex-basis: calc(100% / 3 - 56px);

  margin: 0;
  padding: 0;
  margin-top: -28px;
  margin-right: -28px;

  list-style: none;
}

.service__element {
  margin-top: 28px;
  margin-right: 28px;
  padding: 38px 22px 39px 23px;

  border: 1px solid #e6e6e6;
}

/* .service__box {
  padding: 25px 22px 39px 23px;
} */

.service__icon {
  width: 66px;
  height: 75px;
  margin-bottom: 25px;
}

.service__title {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.service__text {
  margin: 0;
  padding: 0;
}

/* Get-in-touch section pastiche */
.get-in-touch {
  display: block;
  padding-top: 120px;
  padding-bottom: 232px;

  text-align: center;

  /* background-color: wheat; */
}

.get-in-touch__bg {
  background-image: url("../images/bg-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--secondary-bg-color);
}

.get-in-touch__title {
  margin: 0;
  padding: 0;

  margin: 35px;
}

.get-in-touch__btn {
  min-width: 150px;
  min-height: 40px;

  font-family: inherit;
  font-size: 13px;
  line-height: 1.15;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  border: none;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.get-in-touch__btn:hover {
  cursor: pointer;
}

/* Newsletter aside section pastiche */
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -1px;
  padding: 30px 0;

  background-color: var(--secondary-bg-color);
}

.newsletter__title {
  margin: 0;
  padding: 0;

  margin-right: 70px;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.053em;

  color: var(--secondary-text-color);
}

.newsletter_input {
  width: 250px;
  height: 40px;
  border: 1px solid #979797;
}

.newsletter__btn {
  min-width: 150px;
  min-height: 40px;

  font-family: inherit;
  font-size: 13px;
  line-height: 1.15;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  border: none;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.newsletter__btn:hover {
  cursor: pointer;
}

/* footer pastiche */
.footer {
  padding-top: 42px;

  color: var(--secondary-text-color);
  background-color: var(--third-bg-color);
}

.footer__thumb {
  display: flex;
  padding-bottom: 40px;
}

.footer__sub-thumb1 {
  width: 250px;
  margin-right: 71px;
}

.footer__title {
  margin: 0;
  padding: 0;

  margin-bottom: 19px;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;

  letter-spacing: 0.052em;

  text-transform: uppercase;
}

.footer__icon {
  width: 102px;
  height: 23px;

  margin-bottom: 15px;
}

.footer__text {
  font-size: 11px;
  line-height: 1.73;

  letter-spacing: 0.053em;
}

.footer__sub-thumb2 {
  margin-right: 58px;

  font-size: 11px;
  line-height: 2.27;

  letter-spacing: 0.05em;
}

.footer__nav {
  display: flex;

  text-transform: uppercase;
}

.footer__tabs {
  margin: 0;
  padding: 0;
  margin-right: 34px;
}

.footer__blog {
  margin: 0;
  padding: 0;
  margin-right: 38px;
}

.footer__outter {
  margin: 0;
  padding: 0;
}

.address {
  margin-right: 46px;

  font-style: normal;
  font-size: 11px;
  line-height: 1.45;

  letter-spacing: 0.05em;
}

.address__contacts {
  margin: 0;
  padding: 0;
}

.address__element {
  margin-bottom: 12px;
}

.address__element:last-child {
  margin-bottom: 0;
}

.address__link {
  font-size: 11px;
  line-height: 1.45;

  text-decoration: none;

  color: var(--secondary-text-color);
}

.footer__social {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  margin-top: 30px;

  width: 100px;
  height: 100px;
}

.social__icon {
  fill: #ffffff;
}

.copyright .container {
  display: block;
}

.copyright {
  padding: 23px 0 22px 0;
  background-color: var(--secondary-bg-color);
}

.copyright p {
  margin: 0;
  padding: 0;

  text-align: center;
}
